{
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"node": true
			}
		}],
		[ "@babel/preset-react", {
      "runtime": "automatic"
    }]
	],
	"plugins": [
		"@babel/plugin-transform-spread",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties",
	]
}
